.container {
  width: 100vw;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}

.background {
  position: fixed;
  width: 100vw;
  height: 200vh;
  z-index: -100;
  background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 0% 0% / 64px 64px, radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 32px 32px / 64px 64px, linear-gradient(#ae8dc2 2px, transparent 2px) 0px -1px / 32px 32px, linear-gradient(90deg, #ae8dc2 2px, #ffffff 2px) -1px 0px / 32px 32px #ffffff;
  background-color: #ffffff;
}