.container {
  display: flex;
  // display: grid;
  // grid-template-columns: 1fr 1fr;

  @media (max-width: 824px) {
    flex-direction: column;
    // grid-template-columns: 1fr;
  }
}

.half {
  flex: 0.5;
  // display: flex;
  // flex-direction: column;
}

//825