.container {
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(425px, 1fr));
  // gap: 1rem;
  display: flex;

  @media (max-width: 840px) {
    // display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.half {
  flex: 0.5;
}