.container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  // font-family: 'Courier New', monospace;
  font-family: Consolas, monaco, monospace;

  h1 {
    font-size: 20px;
    margin-top: 15px;
    margin-left: 20px;
  }
  h2 {
    font-size: 26px;
    margin: 35px 25px 25px 25px;
    text-decoration: underline;
  }
  hr {
    border-color: lightgray;
  }
}

.section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 1.6rem;
  margin-bottom: 20px;
}